{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head %}

{% block style %}
.player {
    margin: 20px auto;
    width: 75%;
    height: auto;
    border: 4px solid white;
}
::-webkit-scrollbar {
    display: none;
}

p{
    color: white;
    padding-left: 2%;
}
h4{
    color: white;
    max-width: 40%;
}
#suggestions{
    padding: 5%;
}
.download-btn{
    max-width: 100px;
    padding-left: 7%;
}

.pad {
    padding-top: 1%;
}
{% endblock style %}

{% block javascript %}
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = Plyr.setup('.js-player');
    });
</script>


{% endblock javascript %}

{% block content %}


<div class="pad">
    <div class="player rounded">
        <div class="js-player" data-plyr-provider="youtube" data-plyr-embed-id="{{id}}" data-plyr-config="{ "autoplay": 'true'}"></div>
    </div>
</div>
<div class="container d-flex align-self-bottom" style="padding-left: 10%;">
    <div id="app">
        <p>{{ message }}</p>
      </div>
    <h4 class="text-truncate">{{title}}</h4>
    <p><strong>{{views}}</strong></p>
    <p>published {{publishTime}}</p>
    <div class="download-btn">
        <form action="#" method="post" class="d-flex">
            <button type="button submit" class="btn btn-outline-light" >Download</button>
            <input type="text" id="id" name="id" value="{{id}}" style="max-width:105px;" hidden/>
            <p style="padding-left: 30px;">Audio</p>
            <div class="" style="padding-left: 20px;">
                <input type="checkbox" class="form-check-input" id="audiocheck" name="audiocheck" value="checked">
            </div>
        </form>
    </div>
</div>
<div class="container rounded"  id=suggestions>
    <iframe src="/suggest/{{id}}" frameborder="0" width = "100%" height = "800"></iframe>
</div>
{% endblock content %}
